  .navbar-brand {
    padding: 18px 20px;
    display: inline-block;
  }

  .ux-body {
    padding: 5rem 5rem 5rem 5rem ;
    background-color: hsl(4.5, 87%, 91%);
    height: 125vh;
    overflow: auto;
  }

  .card-deck {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between; 
    padding-top: 40px;
    padding-right: 0;
    padding-left: 25px;
    width: 90vw;
    
  }

  /* 
  UserNavBar 
  */
  .nav-bar{
    list-style-type: none;
    margin: 0;
    padding: 0rem 0rem 0rem 0rem;
    overflow: hidden;
    background-color: hsl(4.5, 87%, 75.9%);
    border: 2px solid hsl(4.6, 86.8%, 64.3%);
    position: fixed;
    width: 100%;
    height: 2.5rem;
    display: flex;
    align-items: center;
    z-index: 1;
  }
  .nav-bar-li{
    float:left;
  }
  .nav-bar-li a{
    float:left;
    display: block;
    color:  hsl(4.6, 86.8%, 44.3%);
    text-align: center; 
    padding: 0rem 1rem 0rem 1rem;
    margin: 0rem 1rem 0rem 1rem;
  }
  .nav-bar-li a:hover {
    background-color: hsl(4.6, 86.8%, 64.3%);
    text-decoration: none;
    color: white
  }

  /*
  SignInForm 
  */
  .signin-container{
    background-color: #fcd4e5;
    padding: 2rem 1.5rem 2.5rem 2rem;
    width: 55%;
    border-radius: 25px;
    border: 2px solid hsl(4.6, 86.8%, 64.3%);
  }

  /* 
  PresentUserProfile 
  */
  .user-container{
    /* background-color: yellow; */
    width: 65%;
    display: grid;
    grid-template-rows: min-content 70% 20%;
    grid-template-columns: 65% auto;
    background-color: hsl(4.5, 87%, 75.9%);
    border: 2px solid hsl(4.6, 86.8%, 64.3%);
    border-radius: 25px;
    padding: 1rem 0rem 0rem 2rem;
  }
  .user-container-title-row{
    display: grid;
    grid-template-columns: 50% auto;
    height: max-content;
    align-items: center;
  }
  #user-username{
    text-transform: uppercase;
  }
  #user-profile-img-container{
    text-align: center;
  }
  #user-profile-img{
    max-width: 100%;
    max-height: 100%;
    height: auto;
  }
  .standard-button{
    width: min-content;
    height: min-content;
  }