  .navbar-brand {
    padding: 18px 20px;
    display: inline-block;
  }

  .ux-body {
    padding: 45px;
    background-color: #fcd7d4;
    height: 100vh;
    padding-left: 70px
  }

  .card-deck {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between; 
    /* margin: 15px */
    padding-top: 40px;
    padding-right: 0;
    padding-left: 25px;
    width: 90vw;
    
  }

  /* .user-card {
    max-width: 300px;
    padding-bottom: 20px;
  } */

  .user-profile-component-circled-image {
    width: 700px;
    height: auto;
    border: solid;
  }


  /* presentUserProfile */

  .user-container{
    /*  */
    background-color: yellow;
    /*  */
    width: 65%;
    display: grid;
    grid-template-rows: 10% 70% 20%;
    grid-template-columns: 65% auto;
  }
  .user-container-title-row{
    /*  */
    background-color: orange;
    display: grid;
    grid-template-columns: 50% auto;
    height: max-content;
  }
  #username-title{
    text-transform: uppercase;
  }
  .standard-button{
    width: min-content;
    height: min-content;
  }