.navbar-brand {
    padding: 18px 20px;
    display: inline-block;
  }

  .ux-body {
    padding: 45px;
    background-color: #fcd7d4;
    height: 100vh;
    padding-left: 70px
  }

  .card-deck {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between; 
    /* margin: 15px */
    padding-top: 40px;
    padding-right: 0;
    padding-left: 25px;
    width: 90vw;
    
  }

  /* .user-card {
    max-width: 300px;
    padding-bottom: 20px;
  } */

  .user-profile-component-circled-image {
    width: 700px;
    height: auto;
    border: solid;
  }